// If no user
.loginfirst {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  color: white;

  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .danger {
    font-size: 5rem;
    margin-left: 2rem;
  }
}

.dashboardpages {
  width: 100%;
  margin: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .dashboard-container {
    background-color: white;
    display: flex;
    width: 95%;
    height: 200vh;
    border-radius: 15px;
    box-shadow: 0 0 12px 2px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;

    .sidebar {
      width: 25%;
      height: 100%;
      background-color: rgb(120, 120, 120);
      box-shadow: 4px 0 12px 2px rgba($color: #000000, $alpha: 0.2);

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
        margin: 0;

        li,
        .logout {
          background-color: #2e2e2e;
          border-bottom: 1px solid rgb(70, 70, 70);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem 0;
          color: white;
          font-size: 1.25rem;
          transition: 100ms ease-in-out;
          cursor: pointer;
        }

        .logout {
          background-color: #ff3939;
          border-bottom: 1px solid white;
        }

        .logout:hover {
          background-color: #ff1818;
        }

        li:hover {
          border-left: 6px solid rgb(196, 69, 255);
        }

        li:active {
          background-color: rgb(35, 35, 35);
        }
      }
    }

    .dash-change {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// Dashboard Default
.dashboardsection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 300ms ease-in-out;

  h2 {
    width: 100%;
    height: auto;
    background-color: rgb(196, 69, 255);
    box-shadow: 0 0 12px 1px rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
  }
}

// Profile Section

.profilesection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  padding: 2rem;

  .user-info {
    width: 100%;
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        padding: 1rem 0;
        font-size: 1.25rem;
        color: gray;
      }
    }

    .avatar-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 450px;

      img {
        width: 50%;
        object-fit: contain;
      }
    }
  }
}

// Course Section

.coursesection {
  width: 100%;
  height: 100%;

  .lesson {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;

    .drop-course {
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5vh;
      padding: 1rem 2rem;
      border-radius: 12px;
      border: 1px solid black;

      .down {
        font-size: 2rem;
        margin-top: 5px;
      }
    }
  }
}
