nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.25rem;
  color: rgba(59, 57, 80, 0.7);
  font-size: 15px;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba($color: #000000, $alpha: 0.2);
  z-index: 1000;

  .lt-nav {
    width: 25%;

    .logo {
      max-width: 50px;
      object-fit: contain;
      cursor: pointer;
      transition: 200ms ease-in-out;
    }

    .logo:hover {
      transform: scale(110%);
    }
  }

  .md-nav {
    width: 50%;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      list-style-type: none;
      align-items: center;

      li {
        margin: 0 1.25rem;

        .dropdown-course {
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 6px 1px rgba($color: #000000, $alpha: 0.1);
        }

        .dropdown-course:hover {
        }

        a {
          padding: 0.75rem 1.25rem;
          transition: 100ms ease-in-out;
          cursor: pointer;
          border-radius: 25px;

          .icons-drop {
            margin-left: 0.5rem;
            margin-top: 2px;
          }
        }

        a:hover {
          color: #e90c8f;
        }
      }
    }
  }

  .rt-nav {
    display: flex;
    width: 25%;
    justify-content: center;

    span {
      margin: 0 1.75rem;
      cursor: pointer;
    }

    span:hover {
      color: #e90c8f;
    }
  }

  .rt-mobile {
    display: none;
  }

  .hamburger-menu {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  nav {
    justify-content: flex-end;
    border-bottom: 1px solid rgb(150, 148, 198);
    box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: 0.2);

    .lt-nav {
      display: none;
    }

    .md-nav {
      display: none;
    }

    .rt-nav {
      display: none;
    }

    .rt-mobile {
      display: flex;
    }
  }
}
